<div class="about-container">
  <div class="row hidden-xs button-container">
    <div class="col-md-3 col-sm-3 col-lg-3 text-center">
      <a ng-click="about.selected = 0" ng-class="{'selected' : about.selected === 0}" href class="">Who We Are</a>
    </div>
    <div class="col-md-3 col-sm-3 col-lg-3 text-center">
      <a ng-click="about.selected = 1" ng-class="{'selected' : about.selected === 1}" href class="">Specializations</a>
    </div>
    <div class="col-md-3 col-sm-3 col-lg-3 text-center">
      <a ng-click="about.selected = 2" ng-class="{'selected' : about.selected === 2}" href class="">Where Are We?</a>
    </div>
    <div class="col-md-3 col-sm-3 col-lg-3 text-center">
      <a ng-click="about.selected = 3" ng-class="{'selected' : about.selected === 3}" href class="">Contact Us</a>
    </div>
  </div>
  <div class="row visible-xs button-container">
    <div class="col-xs-6 text-center">
      <a ng-click="about.selected = 0" ng-class="{'selected' : about.selected === 0}" href class="">Who We Are</a>
    </div>
    <div class="col-xs-6 text-center">
      <a ng-click="about.selected = 1" ng-class="{'selected' : about.selected === 1}" href class="">Specializations</a>
    </div>
  </div>
  <div class="row mt20 visible-xs button-container">
    <div class="col-xs-6 text-center">
      <a ng-click="about.selected = 2" ng-class="{'selected' : about.selected === 2}" href class="">Where Are We?</a>
    </div>
    <div class="col-xs-6 text-center">
      <a ng-click="about.selected = 3" ng-class="{'selected' : about.selected === 3}" href class="">Contact Us</a>
    </div>
  </div>

  <div class="content who" ng-show="about.selected === 0">
    <who-directive></who-directive>
  </div>

  <div class="content speciality" ng-show="about.selected === 1">
    <especiality-directive></especiality-directive>
  </div>

  <div class="content contact" ng-show="about.selected === 3">
    <contact-directive></contact-directive>
  </div>
</div>
