<div class="home-container">
  <div class="title">
    <h2 class="text-center">Amazing Coffee!</h2>
  </div>
  <div class="cafe">
    <div class="slick-coffe">
      <div>
        <img ng-src="images/i-love-heart-coffee-wallpapers.jpg" alt="i-love-heart" />
      </div>
      <div>
        <img ng-src="images/happy-face.jpg" alt="happy-face" />
      </div>
      <div>
        <img ng-src="images/i-love-heart-coffee-wallpapers.jpg" alt="i-love-heart" />
      </div>
      <div>
        <img ng-src="images/happy-face.jpg" alt="happy-face"  />
      </div>
      <div>
        <img ng-src="images/i-love-heart-coffee-wallpapers.jpg" alt="i-love-heart" />
      </div>
      <div>
        <img ng-src="images/happy-face.jpg" alt="happy-face" />
      </div>
      <div>
        <img ng-src="images/i-love-heart-coffee-wallpapers.jpg" alt="i-love-heart" />
      </div>
      <div>
        <img ng-src="images/happy-face.jpg" alt="happy-face"  />
      </div>
      <div>
        <img ng-src="images/i-love-heart-coffee-wallpapers.jpg" alt="i-love-heart" />
      </div>
      <div>
        <img ng-src="images/happy-face.jpg" alt="happy-face" />
      </div>
      <div>
        <img ng-src="images/i-love-heart-coffee-wallpapers.jpg" alt="i-love-heart" />
      </div>
      <div>
        <img ng-src="images/happy-face.jpg" alt="happy-face"  />
      </div>


    </div>
  </div>

  <div class="text-container">
    <div class="row center-margin">
      <div class="display-inline text-center">
        <img  ng-src="images/Coffee-Love.jpg" alt="Coffee-Love" />
      </div>
      <div class="display-inline text-center content-text">
        <h2 class="mb10">Best Coffe Ever !</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
      </div>
    </div>
  </div>

  <div class="text-container odd post">
    <div class="row center-margin">
      <div class="display-inline text-center content-text">
        <h2 class="mb10">The Best We Have</h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
      </div>
      <div class="display-inline text-center">
        <img  ng-src="images/happy-face.jpg" alt="happy-face" />
      </div>
    </div>
  </div>

  <div class="text-container post">
    <div class="row center-margin">
      <div class="display-inline text-center">
        <img  ng-src="images/Coffee-Love.jpg" alt="Coffee-Love" />
      </div>
      <div class="display-inline text-center content-text">
        <h2 class="mb10">Never Sleep Again !</h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
      </div>
    </div>
  </div>
</div>
