<div class="text-center contact-container mt40 pt40 pb40">
  <h2 class="text-center brown underlined pb40"></h2>
  <div class="information">
    <h2 class="mb20">Phone</h2>
    <div class="mb20">
      <p class="mb10">USA Toll Free: {{dataList.contact_info.phones[0].usa}}</p>
      <p>ARG Phone: {{dataList.contact_info.phones[1].arg}}</p>
    </div>
    <h2 class="mb20">Email</h2>
    <div class="mb20">
      <a href="mailto:{{dataList.contact_info.email}}">{{dataList.contact_info.email}}</a>
    </div>
    <h2 class="mb20">Adress</h2>
    <div>
      <p>{{dataList.contact_info.address}}</p>
    </div>
  </div>
</div>