<div ng-repeat="especiality in especialityList">
  <div ng-class= "{'odd' : especiality.class == 'odd'}" class="text-container">
    <h2 class="mt40 pt40 text-center">{{especiality.title}}</h2>
    <div class="row center-margin">
      <div ng-if = "especiality.class === 'normal'">
        <div class="display-inline text-center">
          <img  ng-src="images/{{especiality.img}}" alt="{{especiality.alt}}" />
        </div>
        <div class="display-inline text-center content-text">
          <p>{{especiality.text}}</p>
        </div>
      </div>
      <div ng-if = "especiality.class === 'odd'">
        <div class="display-inline text-center content-text">
          <p>{{especiality.text}}</p>
        </div>
        <div class="display-inline text-center">
          <img  ng-src="images/{{especiality.img}}" alt="{{especiality.alt}}" />
        </div>
      </div>
    </div>
  </div>
</div>