<div class="cafe">
  <div class="slick-coffe">
    <div>
      <img ng-src="images/i-love-heart-coffee-wallpapers.jpg" alt="i-love-heart" />
    </div>
    <div>
      <img ng-src="images/happy-face.jpg" alt="happy-face" />
    </div>
    <div>
      <img ng-src="images/i-love-heart-coffee-wallpapers.jpg" alt="i-love-heart" />
    </div>
    <div>
      <img ng-src="images/happy-face.jpg" alt="happy-face"  />
    </div>
    <div>
      <img ng-src="images/i-love-heart-coffee-wallpapers.jpg" alt="i-love-heart" />
    </div>
    <div>
      <img ng-src="images/happy-face.jpg" alt="happy-face" />
    </div>
    <div>
      <img ng-src="images/i-love-heart-coffee-wallpapers.jpg" alt="i-love-heart" />
    </div>
    <div>
      <img ng-src="images/happy-face.jpg" alt="happy-face"  />
    </div>
    <div>
      <img ng-src="images/i-love-heart-coffee-wallpapers.jpg" alt="i-love-heart" />
    </div>
    <div>
      <img ng-src="images/happy-face.jpg" alt="happy-face" />
    </div>
    <div>
      <img ng-src="images/i-love-heart-coffee-wallpapers.jpg" alt="i-love-heart" />
    </div>
    <div>
      <img ng-src="images/happy-face.jpg" alt="happy-face"  />
    </div>


  </div>
</div>
