<div ng-repeat="data in dataList">
  <div ng-class= "{'odd' : data.class == 'odd'}" class="text-container">
    <h2 class="mt40 pt40 text-center">{{data.title}}</h2>
    <div class="row center-margin">
      <div ng-if = "data.class === 'normal'">
        <div class="display-inline text-center">
          <img  ng-src="images/{{data.img}}" alt="{{data.alt}}" />
        </div>
        <div class="display-inline text-center content-text">
          <p>{{data.text}}</p>
        </div>
      </div>
      <div ng-if = "data.class === 'odd'">
        <div class="display-inline text-center content-text">
          <p>{{data.text}}</p>
        </div>
        <div class="display-inline text-center">
          <img  ng-src="images/{{data.img}}" alt="{{data.alt}}" />
        </div>
      </div>
    </div>
  </div>
</div>