@import 'colors';
@import 'global';

.home-container {
  height: 100%;

  .title {
    background: linear-gradient( rgba(0 ,0 ,0 ,1.3), rgba(0 ,0 ,0 ,.3) ), url('/images/wallpaper.jpg');
    background-position: center top;
    h2 {
      font-size: 42px;
      vertical-align: middle;
      padding: 200px 300px;
      color: $white;
    }
  }

  img {
    border: 1px solid $white;
    height: auto;
    margin: 60px auto;
    position: relative;
    width: 300px;

    &:before {
        border: 1px solid $black;
        content: '';
        width: 198px;
        height: 198px;
        position: absolute;
    }

    &:after {
        content: '';
        position: absolute;
        width: 196px;
        height: 196px;
        border: 1px solid $black;
        left: 1px; top: 1px;
    }

    @include responsive (small){
        width: 60%;
        height: auto;
    }
  }

  h2 {
    font-size: 22px;
  }

  .cafe {
    background-color: $coffe-color;
    padding-bottom: 60px;

    .slick-coffe {
      margin: auto;
      padding: 20px;
      width: 80%;

      img {
        height: 200px;
        width: 200px;
      }

    }

  }

  .text-container {
    padding: 0px 20px;

    img {
      -webkit-box-shadow: 0px 7px 5px 5px rgba(0,0,0,0.75);
      -moz-box-shadow: 0px 7px 5px 5px rgba(0,0,0,0.75);
      box-shadow: 0px 7px 5px 5px rgba(0,0,0,0.75);}
    }

    .content-text {

        @include responsive (small) {
          padding-bottom: 60px;
        }
    }

    .odd {
      background-color: $coffe-color;
      color: $white;

      .content-text {

          @include responsive (small) {
            padding-bottom: 0px;
            padding-top: 60px;
          }
      }
    }
}
